/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color, rgb(0, 0, 40));
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  justify-content: space-between;
}

.header__decoration {
  position: absolute;
  top: 10px;
  right: 19px;
  font-weight: var(--font-weight-regular, 400);
  color: var(--brand-color, rgb(255, 0, 112));
  text-transform: uppercase;
  padding-right: 20px;
}

.header__decoration::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 9px;
  height: 9px;
  background-color: var(--brand-color, rgb(255, 0, 112));
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--brand-color, rgb(255, 0, 112));
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 18px;
  color: var(--brand-color, rgb(255, 0, 112));
  text-transform: lowercase;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 3px 12px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--brand-color, rgb(255, 0, 112));
}

.header__theme-menu-button_active {
  border: 1px solid var(--brand-color, rgb(255, 0, 112));
  pointer-events: none;
}

.header__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--text-shadow-color, rgb(255, 0, 112));
}

.header__subtitle {
  width: min(100%, 364px);
  height: max-content;
  align-self: center;
  justify-self: end;
  font-size: inherit;
  font-weight: var(--font-weight-bold, 700);
}

.header__subtitle span {
  display: block;
}

.advice__card-title {
  font-weight: var(--font-weight-regular, 400);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--text-shadow-color, rgb(255, 0, 112));
}
